SERVER_PORT=8081
DATABASE_URL=jdbc:postgresql://localhost:5433/order_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
JWT_SECRET=change_me_shared_across_all_services
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RESTAURANT_SERVICE_URL=http://localhost:8001
